@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Mouse Memoirs, sans-serif;
}


/* headings */

h1, h2 {
    color: #eed971ff;
    text-transform: uppercase;
    font-size: 200%;
}

/* logo */

#logo {
    float: left;
    font-size: 400%;
    color: #eed971ff;
    margin-left: 20px;
}

/* hero image*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/about-518527_1280.jpeg') no-repeat;
    background-size: cover;
}

#about {
    font-size: 150%;
    text-align: center;
    color: #ffbe7bff;
    
}

/* navigation links */

#menu {
    font-size: 150%;
    color: #ffbe7bff;
    list-style-type: none;
    text-decoration-line: none;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    color: #eed971ff;
    border: none;
    text-decoration: underline;
}

.active {
    border: 1px solid #ffa351ff;
}

#menu a:hover {
    color: #ffa351ff;
} 

/* footer */
 
footer {
    height: 150px;
}

footer {
   
    height: 150px;
}

.social-networks {
     text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #000000;
}

.social-networks i:hover {
    color: #ffa351ff;
}

footer > p {
     text-align: center;
     font-size: 160%;
     color: #000000;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
    height: 300px;
    float: left;
}

/* form */

.form-section {
    clear: left;
    background: url('../images/figures-6484647__480.jpeg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

.contact-form {
    margin: 180px 15% 0 0;
    color: #eed971ff;
    background-color:#ffa351ff;
    max-width: 300px;
    position: absolute;
    left: 15%;
    padding: 100px;

}
.contact-form h2 {
    text-align: center;
    
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 150%;
    background-color: #eed971ff;
    color: #ffa351ff;
    display: block;
}

.text-input {
    color: #ffa351ff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #eed971ff;
    border-radius: 2px;
    
}

.text-input:hover {
    border-color:#000000;
}

   
